[user]
	name = Joe Langford
	email = dev@joelangford.com
[core]
	autocrlf = input
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	st = status
	br = branch
	ci = commit
	cam = commit -am
